@using ControllerRebinder.Common.Moddels.Configurations.SubModelsOfConfigurations;
@model LeftJoyStick;
@{
    ViewData["Title"] = "Home Page";
}

<form>
    <fieldset>
        <legend>Left Joystick</legend>
        <label for="staticArea">Static Area:</label>
        <input type="number" id="staticArea" value="@Model.StaticArea">
        <br>
        <label for="forwardDown">Forward Down:</label>
        <input type="number" id="forwardDown" value="@Model.ForwardDown">
        <br>
        <label for="leftRight">Left Right:</label>
        <input type="number" id="leftRight" value="@Model.LeftRight">
        <br>
        <label for="deadZone">Dead Zone:</label>
        <input type="number" id="deadZone" value="21715">
        <br>
        <label for="maxValController">Max Val Controller:</label>
        <input type="number" id="maxValController" value="32767">
        <br>
        <label for="threshHoldAreaCal">Threshold Area Cal:</label>
        <input type="number" id="threshHoldAreaCal" value="21815">
        <br>
        <fieldset>
            <legend>Controlls</legend>
            <label for="up">Up:</label>
            <input type="text" id="up" value="VK_W">
            <br>
            <label for="down">Down:</label>
            <input type="text" id="down" value="VK_S">
            <br>
            <label for="left">Left:</label>
            <input type="text" id="left" value="VK_A">
            <br>
            <label for="right">Right:</label>
            <input type="text" id="right" value="VK_D">
        </fieldset>
    </fieldset>
</form>
